<h1>Create new</h1>

<form method="POST" action="/new">
  <label>Name:<input type="text" name="name" required /></label>
  <label>Occupation:<input type="text" name="occupation" required /></label>
  <label>Weapon:<input type="text" name="weapon" required /></label>
  <input type="checkbox" name="dept"> is a Cartoon</label>
  <button type="submit">Sign Up</button>
</form>
